.mar{
    margin: 10px;
}

.marTop{
    margin-top: 1rem;
}

.my-width{
    padding: 1rem;
}

.my-pad{
    padding-left: 1rem;
}

.custom-width{
    width: 70%;
}

.custom-margin{
    margin: 0 auto;
}

/* p{
    width: 50%;
} */